/* TODO: inserite il CSS necessario per completare il MHW! */

.choice-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choice-grid div{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 32.5%;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border: solid #dcdcdc 1px;
  box-sizing: border-box;
}

.choice-grid img {
  width: 100%;
}

.question-name {
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.choice-grid div.selected{
  background-color:#cfe3ff;
}

.opacity{
  opacity:0.6;
}

.t_result{
  display: none;
}

.test_result{
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.test_result h1{
  margin: 0;
}

.test_result p{
  margin-top: 18px;
  margin-bottom: 18px;
}

#restart{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#cecece;
  height:50px;
}

#restart:hover{
  background-color:#e0e0e0;
}

@media (max-width: 700px) {
  header div span{
      display: none;
  }

  article{
      width: 95%;
  } 
}

@media (max-width: 500px) {
  .choice-grid div{
      width: 49%;
  }
}